.popup__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup__close-button:hover {
  opacity: 0.7;
}
