.header {
  display: flex;
  padding: 16px 24px 20px;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 11px 13px 14px;
    justify-content: space-between;
  }
}
