.system {
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--background-smoky-color);
  margin-right: 8px;
  background-image: url("../../images/mir-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.system_type_popup {
  margin-right: 2px;
}
.system_type_pay {
  margin-right: 4px;
}
