.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  align-items: flex-start;
  cursor: pointer;
}

.card:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023.98px) {
  .card {
    flex-direction: column;
    border-bottom: solid 1px var(--rulers-rulers-colors);
    padding-bottom: 5px;
    margin-bottom: 12px;
  }

  .card:last-of-type {
    border: none;
  }
}
