.products__button {
  width: 20px;
  height: 20px;
  background-image: url("../../../images/arrow-up.png");
  background-position: center;
  background-repeat: no-repeat;
}

.products__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767.98px) {
  .products__button {
    margin-top: 2px;
    margin-right: 5px;
  }
}
