.nav-bar__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--system-white-color);
}

@media screen and (max-width: 767.98px) {
  .nav-bar__text {
    display: none;
  }
}
