.radiobutton__visible-radio {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../../images/radiobutton.svg");
  cursor: pointer;
  margin-right: 8px;
}

.radiobutton__visible-radio_type_popup {
  margin-top: 3px;
}

.radiobutton__visible-radio_type_pay {
  margin-right: 6px;
}
