.submit-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 32px 14px;
  background-color: var(--system-magenta-color);
  color: var(--system-white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.submit-button:hover {
  background-color: var(--system-pink-color);
}
